body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 35px;
}

form{
    text-align: right;
    margin-right: 28px;
    margin-top: 30px;
}

form input{
    border: solid #A89260 2px;
    height: 22px;
}

form button{
    /*background-color: #A89260;*/
    height: 27px;
    font-size: 15px;
    color: #ffffff;
    background-color: #A89260;
}

header img{
    width: 250px;
    height: 95px;
}

header nav{
    margin-top: 60px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    margin-right: 35px;
}    

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #808080;
    font-size: 20px;
    font-weight: bold;
}

li a:hover{
    color: #A89260;
}

.dropdown-menu{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    background-color: #A89260;
    width: 120px;
    height: 110px;
}

.dropdown-menu a{
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
}

.dropdown-menu a:hover{
    color: #ffffff;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown hr{
    color: #eeeeee;
}

.dropdown-food-menu{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    background-color: #A89260;
    width: 120px;
    height: 320px;
    margin-top: -22px;
    margin-left: 62px;
}

.dropdown-food:hover .dropdown-food-menu{
    display: inline-block;
}

.dropdown-food-menu a{
    padding-bottom: 8px;
    padding-top: 2px;
    font-weight: normal;
}

.dropdown-beverage-menu{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    background-color: #A89260;
    width: 165px;
    height: 195px;
    margin-top: -30px;
    margin-left: 62px;
}

.dropdown-beverage:hover .dropdown-beverage-menu{
    display: inline-block;
}

.dropdown-beverage-menu a{
    padding-bottom: 9px;
    padding-top: 8px;
}

.dropdown-equipment-menu{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    background-color: #A89260;
    width: 120px;
    height: 60px;
    margin-top: -30px;
    margin-left: 62px;
}

.dropdown-equipment:hover .dropdown-equipment-menu{
    display: inline-block;
}

.dropdown-equipment-menu a{
    /*padding-bottom: 8px;*/
    padding-top: 5px;
}

.poster{
    text-align: center;
    margin-top: 110px;
}

.poster img{
    width: 1200px;
    height: 420px;
}

.content-separator{
    color: #A89260;
}

h2{
    /*background-color: #58A887;*/
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}

.new-arrivals{
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
}

.new-arrivals .product-list p{
    text-align: center;
}

.new-arrivals .product-list .flex-container .product img{
    width: 270px;
    height: 270px;
}

.new-arrivals .product-list .flex-container{
    display: flex;
    justify-content: space-around;
}    

.partners{
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
}

.partners .logos{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}   


.company-presentation{
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

.company-presentation p{
    margin-left: 20px;
    margin-right: 20px;
    line-height: 35px;
}

.contact{
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
}

.contact-info{
    margin-left: 20px;
}

.bold{
    font-weight: bold;
}

footer{
    text-align: center;
    margin-top: 80px;
    background-color: #A89260;
    color: #ffffff;
}

footer img{
    width: 150px;
    height: 60px;
}

@media (max-width: 1240px){
    .poster img{
        width: 1155px;
        height: 400px;
    }
}

@media (max-width: 1215px){
    .poster img{
        width: 1110px;
        height: 380px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 260px;
        height: 260px;
    }
}

@media (max-width: 1160px){
    .poster img{
        width: 1080px;
        height: 360px;
    }
}

@media (max-width: 1125px){
    .poster img{
        width: 1050px;
        height: 350px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1095px){
    .poster img{
        width: 1020px;
        height: 340px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 240px;
        height: 240px;
    }
}    

@media (max-width: 1056px){
    .poster img{
        width: 990px;
        height: 330px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 230px;
        height: 230px;
    }    
}

@media (max-width: 1025px){
    .poster img{
        width: 960px;
        height: 320px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 220px;
        height: 220px;
    }    
}    
    
@media (max-width: 995px){
    .poster img{
        width: 930px;
        height: 310px;
    }
}

@media (max-width: 965px){
    .poster img{
        width: 900px;
        height: 300px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 210px;
        height: 210px;
    } 
}

@media (max-width: 930px){
    .poster img{
        width: 850px;
        height: 290px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 200px;
        height: 200px;
    } 
}

@media (max-width: 885px){
    .poster img{
        width: 810px;
        height: 280px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 190px;
        height: 190px;
    } 
}        

@media (max-width: 845px){
    .poster img{
        width: 780px;
        height: 270px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 180px;
        height: 180px;
    }  
}

@media (max-width: 815px){
    .poster img{
        width: 750px;
        height: 260px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 170px;
        height: 170px;
    }      
}

@media (max-width: 780px){
    .poster img{
        width: 720px;
        height: 250px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 160px;
        height: 160px;
    }      
}

@media (max-width: 755px){
    .poster img{
        width: 690px;
        height: 240px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 150px;
        height: 150px;
    }      
}

@media (max-width: 720px){
    .poster img{
        width: 660px;
        height: 230px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 140px;
        height: 140px;
    }  
    .logo img{
        width: 100px;
        height: 80;
    }
}

@media (max-width: 690px){
    .poster img{
        width: 630px;
        height: 220px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 130px;
        height: 130px;
    }  
    nav ul li a{
        font-size: 18px;
    }    
}

@media (max-width: 660px){
    .poster img{
        width: 600px;
        height: 210px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 120px;
        height: 120px;
    }  
    .logo img{
        width: 100px;
        height: 80;
    }   
    nav li a{
        font-size: 17px;
    } 
    .product p{
        font-size: 13px;
    }
}

@media (max-width: 660px){
    .poster img{
        width: 570px;
        height: 200px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 110px;
        height: 110px;
    }  
    .logo img{
        width: 90px;
        height: 75;
    }   
    nav ul li a{
        font-size: 15px;
    } 
    .product p{
        font-size: 12px;
    }
}
@media (max-width: 600px){
    .poster img{
        width: 540px;
        height: 190px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 110px;
        height: 110px;
    }  
    .logo img{
        width: 70px;
        height: 60;
    }   
    .product p{
        font-size: 10px;
    }
    .company-presentation p{
        font-size: 15px;
    }
    .contact-info p{
        font-size: 15px;
    }
}

@media (max-width: 560px){
    .poster img{
        width: 510px;
        height: 180px;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 110px;
        height: 110px;
    }  
    .logo img{
        width: 70px;
        height: 60;
    }   
    nav ul li a{
        font-size: 15px;
    } 
    .product p{
        font-size: 10px;
    }
    .company-presentation p{
        font-size: 14px;
    }
    .contact-info p{
        font-size: 14px;
    }
}

@media (max-width: 530px){
    form input{
        border: solid #A89260 2px;
        height: 15px;
        width: 100px;
    }
    form button{
        /*background-color: #A89260;*/
        height: 23px;
        font-size: 12px;
        color: #ffffff;
        background-color: #A89260;
    }
    header img{
        margin-bottom: -35px;
        margin-top: 55px;
    }
    nav ul{
        display: inline;
        text-align: left;
    }
    nav{
        margin-left: 30px;
    }
    nav ul li a{
        font-size: 18px;
    } 
    nav ul li{
        padding-bottom: 10px;
    }
    .dropdown:hover .dropdown-menu{
        display: inline-block;
    }
    .dropdown-menu{
        margin-left: 15px;
        margin-top: 5px;
    }
    .dropdown-food-menu{
        margin-left: 122px;
    }
    .dropdown-beverage-menu{
        margin-left: 122px;
    }
    .dropdown-equipment-menu{
        margin-left: 122px;
    }
    .poster img{
        width: 480px;
        height: 170px;
        margin-top: -110px;
        margin-bottom: -25px;
    }
    .new-arrivals .product-list .flex-container{
        display: inline;
    }   
    .new-arrivals .product-list{
        text-align: center;
    }
    .new-arrivals .product-list .flex-container .product img{
        width: 280px;
        height: 280px;
    }  
    .product p{
        font-size: 16px;
    }
    .product{
        padding-bottom: 40px;
    }
    .logo img{
        width: 70px;
        height: 60;
    }   
    .company-presentation p{
        font-size: 14px;
    }
    .contact-info p{
        font-size: 14px;
    }
}

@media (max-width: 500px){
    .poster img{
        width: 450px;
        height: 160px;
    } 
}

@media (max-width: 470px){
    .poster img{
        width: 420px;
        height: 150px;
    } 
}